# wallet frontend
walletFrontend/node_modules/
walletFrontend/public
walletFrontend/.quasar/
walletFrontend/dist
walletFrontend/.env

# admin frontend
adminFrontend/node_modules/
adminFrontend/public
adminFrontend/.quasar/
adminFrontend/dist
adminFrontend/.env

# backend
backend/node_modules/
backend/.env